<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>CookedGPT</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<!-- PAGE 2 -->

<div class="mood-page" id="moodPage">

    <div class="mood-card">

        <h1>SELECT YOUR CHAOS</h1>

        <div class="moods">

            <button onclick="setMood('savage mode', this)">
                😈 Savage
            </button>

            <button onclick="setMood('delulu', this)">
                🎀 Delulu
            </button>

            <button onclick="setMood('sigma', this)">
                🗿 Sigma
            </button>

            <button onclick="setMood('clowncheck', this)">
                🤡 Clown
            </button>

            <button onclick="setMood('indian parents', this)">
                👨‍👩‍👧 Parents
            </button>

        </div>

        <div class="intensity-area">

            <p>INTENSITY ☠</p>

            <input
            type="range"
            min="1"
            max="10"
            value="5"
            id="intensity">

        </div>

        <button class="enter-chat-btn"
        onclick="openChat()">

        ENTER CHAT

        </button>

    </div>

</div>

<!-- PAGE 3 -->

<div class="chat-page hidden" id="chatPage">

    <!-- SIDEBAR -->

    <div class="sidebar">

        <h2>COOKEDGPT</h2>

        <button onclick="newChat()">
    + New Chat
</button>

<div class="login-box">

    <div id="userCircle">
        👤
    </div>

    <button onclick="openAuth()">
        Login / Signup
    </button>

    <button onclick="logoutUser()">
        Logout
    </button>

</div>

        <div class="history-title">
            PREVIOUS CHATS
        </div>

        <div id="historyList"></div>

        <div class="login-box">

            <button onclick="fakeLogin()">
                Login
            </button>

        </div>

    </div>

    <!-- MAIN -->

    <div class="main-chat">

        <div class="chat-topbar">

            <div id="selectedMood">
                😈 Savage Mode
            </div>

            <div class="top-intensity">

                <span id="intensityValue">
                    Intensity: 5
                </span>

                <input
                type="range"
                min="1"
                max="10"
                value="5"
                id="chatIntensity"
                onchange="syncIntensity(this.value)">

            </div>

        </div>

        <div id="chatBox"></div>

        <div class="input-area">

            <input
            id="userInput"
            placeholder="Type your drama here...">

            <button onclick="send()">
                ➤
            </button>

        </div>

    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
