<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CookedGPT Chat</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="chat-container">

    <!-- TOP BAR -->
    <div class="top-bar">
        <h1>COOKEDGPT</h1>

        <div id="currentMood">
            Savage Mode
        </div>
    </div>

    <!-- MOODS -->
    <div class="moods">

        <button class="mood-btn active" data-mood="savage mode">😈 Savage</button>
        <button class="mood-btn" data-mood="delulu">🎀 Delulu</button>
        <button class="mood-btn" data-mood="sigma">🗿 Sigma</button>
        <button class="mood-btn" data-mood="clowncheck">🤡 Clown Check</button>
        <button class="mood-btn" data-mood="indian parents">👨‍👩‍👧 Indian Parents</button>

    </div>

    <!-- INTENSITY -->
    <div class="intensity-box">
        <p>INTENSITY LEVEL</p>

        <input type="range" min="1" max="10" value="7" id="intensity">
    </div>

    <!-- CHAT BOX -->
    <div class="chat-box" id="chatBox"></div>

    <!-- INPUT -->
    <div class="input-area">

        <input type="text" id="userInput" placeholder="Type your message...">

        <button id="sendButton">➤</button>

    </div>

</div>

<!-- JS FILE -->
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
